In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
# function to get request from api
def getAddress(lat,lon):
    url = 'https://nominatim.openstreetmap.org/reverse'
    params = {
        "format":"json",
        "lat":lat,
        "lon":lon  
    }
    response = requests.get(url,params=params)
    return response.json()

In [3]:
df = pd.read_csv('hamza.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.tail()

,CoM ID,Common Name,Scientific Name,Genus,Family,Diameter Breast Height,Year Planted,Date Planted,Age Description,Useful Life Expectency,...,Precinct,Located in,UploadDate,CoordinateLocation,Latitude,Longitude,Easting,Northing,suburb,FullAddress
71818,1639441,Kurrajong,Brachychiton populneus,Brachychiton,Malvaceae,NaN,2016.0,06/10/2016,NaN,NaN,...,NaN,Street,24/08/2019,"(-37.80858933685297, 144.95937672978232)",-37.808589,144.959377,320364.53,5813460.56,NaN,NaN
71819,1549605,Smooth-barked apple,Angophora costata,Angophora,Myrtaceae,NaN,2013.0,20/09/2013,NaN,NaN,...,NaN,Street,24/08/2019,"(-37.807954350846714, 144.9514451971683)",-37.807954,144.951445,319664.70,5813515.74,NaN,NaN
71820,1518256,Flinders Range Wattle,Acacia iteaphylla,Acacia,Fabaceae,NaN,2012.0,13/09/2012,NaN,NaN,...,NaN,Park,24/08/2019,"(-37.79099937084685, 144.92429215897874)",-37.790999,144.924292,317232.35,5815344.41,NaN,NaN
71821,1026721,Dutch Elm,Ulmus x hollandica,Ulmus,Ulmaceae,NaN,1900.0,01/01/2000,NaN,NaN,...,NaN,Street,24/08/2019,"(-37.813877884877996, 144.98334377407198)",-37.813878,144.983344,322487.23,5812919.53,NaN,NaN
71822,1037258,Spotted Gum,Corymbia maculata,Corymbia,Myrtaceae,66.0,1998.0,29/10/1998,Mature,31-60 years,...,NaN,Park,24/08/2019,"(-37.8063166649264, 144.96943319835728)",-37.806317,144.969433,321244.41,5813732.04,NaN,NaN

In [7]:
theSplits = np.array_split(df, 5)
hamza = theSplits[0]
mark = theSplits[1]
adneya = theSplits[2]
vikie = theSplits[3]
jaidv = theSplits[4]

mark.head()

,CoM ID,Common Name,Scientific Name,Genus,Family,Diameter Breast Height,Year Planted,Date Planted,Age Description,Useful Life Expectency,...,Precinct,Located in,UploadDate,CoordinateLocation,Latitude,Longitude,Easting,Northing,suburb,FullAddress
14365,1764229,Coastal Tea Tree,Leptospermum,Leptospermum,Myrtaceae,NaN,2019.0,18/06/2019,NaN,NaN,...,NaN,Park,24/08/2019,"(-37.80289251871027, 144.925878314167)",-37.802893,144.925878,317401.32,5814027.77,NaN,NaN
14366,1754493,UNKNOWN,UNKNOWN UNKNOWN,UNKNOWN,UNKNOWN,NaN,2019.0,08/04/2019,NaN,NaN,...,NaN,Park,24/08/2019,"(-37.806071235990274, 144.9475626470972)",-37.806071,144.947563,319318.29,5813717.20,NaN,NaN
14367,1061037,Chinese Elm,Ulmus parvifolia,Ulmus,Ulmaceae,13.0,1900.0,01/01/2000,Semi-Mature,21-30 years,...,NaN,Street,24/08/2019,"(-37.82465153026353, 144.96021985252224)",-37.824652,144.960220,320477.68,5811679.82,NaN,NaN
14368,1663053,Grey Sheoak,Casuarina glauca,Casuarina,Casuarinaceae,NaN,2017.0,26/05/2017,NaN,NaN,...,NaN,Park,24/08/2019,"(-37.81666698087642, 144.93568117345362)",-37.816667,144.935681,318298.20,5812518.38,NaN,NaN
14369,1027683,London Plane,Platanus x acerifolia,Platanus,Platanaceae,71.0,1997.0,12/01/1997,Mature,6-10 years (>50% canopy),...,NaN,Park,24/08/2019,"(-37.821954885219185, 144.97357653211242)",-37.821955,144.973577,321646.84,5812004.65,NaN,NaN

In [8]:
theDict = dict(zip(mark['CoM ID'],mark['CoordinateLocation'].apply(lambda x: [float(y) for y in x[1:len(x)-1].split(",")] )))

fullAddress2 = {}
suburb2 = {}
for items in theDict:
    lat = theDict[items][0]
    lon = theDict[items][1]
    response = getAddress(lat,lon)
    fullAddress2[items] = response['display_name']
    suburb2[items] = response['address']['suburb']

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [11]:
print(response)

{'place_id': 4846515, 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 86984125, 'lat': '-37.8045800928571', 'lon': '144.963450085714', 'display_name': '522, Swanston Street, Carlton, City of Melbourne, Victoria, 3053, Australia', 'address': {'house_number': '522', 'road': 'Swanston Street', 'suburb': 'Carlton', 'county': 'City of Melbourne', 'state': 'Victoria', 'postcode': '3053', 'country': 'Australia', 'country_code': 'au'}, 'boundingbox': ['-37.804680092857', '-37.804480092857', '144.96335008571', '144.96355008571']}

In [20]:
theDict = dict(zip(hamza['CoM ID'],hamza['CoordinateLocation'].apply(lambda x: [float(y) for y in x[1:len(x)-1].split(",")] )))
df['suburb'] = df['CoM ID'].apply(lambda x: suburb[x] if x in suburb else np.nan)

In [28]:
df.to_csv('hamza.csv',index=False)

In [26]:
df['FullAddress'] = df['CoM ID'].apply(lambda x: fullAddress[x] if x in fullAddress else np.nan)